.profilepage {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: #ffffff;
  /* overflow-y: scroll; */
  position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.profilepage::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.profilepage {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.profileheader {
  background-image: url("../../Media/images/profileBg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  max-width: 500px;
  width: 100%;

  /* position: relative; */
  height: 250px;
  /* height: 800px; */
}

.profileContent {
  /* position: absolute; */
  background: #ffffff;
  width: 100%;
  /* top: -100px; */
  margin-top: -50px;
  /* border: 2px solid gray; */
  border-radius: 32px 32px 0px 0px;
}

.personimg {
  /* position:relative; */
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;
}

.profiledashboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #4c67ad;
  border-radius: 16px;
  color: #ffffff;

}

.profiledash {
  border: 1px solid #ffffff;
  /* transform: rotate(90deg); */
  height: 64px;
}