.homepage {
  max-width: 375px;
  /* height: 625px; */
  height: 100%;
  background-color: #FFFFFF;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.homepage::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.homepage {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.header {
  background-image: url("../../Media/images/homepageBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.rewardBtn {
  background: #c7d3f3;
  border: 4px solid #e9efff;
  border-radius: 53px;
  font-size: 15px;
  line-height: 19px;
}
.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 85px;
  background: #f2f7ff;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #636469;
  cursor: pointer;
}
.bottombar {
  /* top: 570px; */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0px;
}
.sliderContent{
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.packagepage{  
  min-width: 375px;
  /* height: 625px; */
   height: 100%; 
  overflow-y: scroll;

}
/* Hide scrollbar for Chrome, Safari and Opera */
.packagepage::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.packagepage {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.commonButton{
  padding: 16px 0px ;
  margin-top: 250px;
  text-align: center;
  background: #4C67AD;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  
}
.categoryItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 153px;
  height: 146px;
  background: #f2f7ff;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #636469;
  cursor: pointer;
}
.congratsBg{
 min-width: 325px;
  background: #4C67AD;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 480px) {
  .homepage {
    max-width: 375px;
    height: 100%;
    overflow-y: scroll;
  }
  .bottombar {
    /* top: 600px; */
    /* position: absolute; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0px;
  }
}
